#kt_content_company_artist
    .kt-wizard-v3
    .kt-wizard-v3__nav
    .kt-wizard-v3__nav-items
    .kt-wizard-v3__nav-item {
    -ms-flex: 0 0 14.5%;
    flex: 0 0 14.5%;
}

#addNew_btn {
    margin: auto;
    margin-left: 0px;
}

#detail-permit {
    cursor: pointer;
}
/*
.datepicker tbody tr > td.day {
    color: #b5b5b5a6;
}

.datepicker tbody tr > td.day.old {
    color: #b5b5b5a6;
} */
.kt-form__section.kt-form__section--first .kt-wizard-v3__form {
    margin-top: 1em !important;
}

.detailPopupTable.table th,
.detailPopupTable.table td {
    padding: 0rem;
    border-top: none;
}

.fs-1_5em {
    font-size: 1.5em;
}
