.kt-aside-menu {
    background-color: #fda900 !important;
}

@media (min-width: 1025px) {
    .kt-aside__brand {
        background-color: #fff;
    }
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #4c4c4c;
}

.kt-aside { background-color: #fda900; }

.kt-aside-menu.kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover 
> .kt-menu__heading,.kt-aside-menu .kt-menu__nav 
> .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
> .kt-menu__link {
    background-color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
> .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav
> .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
    color: #80262b;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-text {
    color: #80262b;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading,
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link {
    background-color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #fff;
}


.kt-widget5 .kt-widget5__item .kt-widget5__content:last-child {
    justify-content: left;
    text-align: left;
}

.kt-widget5 .kt-widget5__item .kt-widget5__content .kt-widget5__pic img {
    max-width: 15rem;
}


.kt-widget2 .kt-widget2__item {

     justify-content: flex-start; 
}


@media (min-width: 1025px){
   .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
     /*padding-top: 5% !important; */
    } 
}

.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items .kt-wizard-v3__nav-item {
  /*  -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;*/
}



.kt-widget.kt-widget--user-profile-1 .kt-widget__body .kt-widget__content {
     /*padding: 1.9rem 0 2.1rem 0; */
}


/*----------------------forms-----------------------*/
/*align form label to right*/
/*.form-group label { text-align: right;}*/



/*----------------------datatable-----------------------*/
.toolbar, .toolbar2  { float: left; margin-left:20px; }
.no-wrap{ white-space: nowrap; width: 1%;}




/*----------------------button-----------------------*/

.btn-raised:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}


/*----------------------wizard-----------------------*/
.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items .kt-wizard-v3__nav-item {
    flex: 0 0 33.33%;
}

.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items .kt-wizard-v3__nav-item[data-ktwizard-state="current"] .kt-wizard-v3__nav-body {
    color: #282a3c;
}

.kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form {
    width: 95% !important;
    padding: 1rem ;
}

.kt-heading{
    margin: 0;
    padding-bottom: 0;
}

.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items {
    padding: 0 1rem;
}




.kt-wizard-v3__nav-label {
    /*text-align: center;*/
}
